@font-face {
	font-family: 'Stidti-Regular';
	src: url('../fonts/Stidti-Regular.otf') format('opentype');
}

@font-face {
	font-family: 'DB ChuanPim PSU v3.2.1';
	src: url('../fonts/DB ChuanPim PSU v3.2.1.ttf') format('truetype');
}

html {
	
}
form
{
color: #929292;
}

form label{
color: #626262;
}

form small.sub {
	display: block;
	position: absolute;
	color: #626262;
    top: 1.2em;
}

body {
	font-family: 'DB ChuanPim PSU v3.2.1';
	font-size: 20px; /*NR*/
	/* font-size: 26px;
    color:#000; */
}

h1 {
	font-size: 2rem;
}
h2 {
	font-size: 1.8rem;
}
h3 {
	font-size: 1.6rem;
}
h4 {
	font-size: 1.4rem;
}
h5 {
	font-size: 1.2rem;
}
h6 {
	font-size: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Stidti-Regular';
	color: #fff ;
}

.bg-primary {
	background-color: #003c71 !important;
	/* background-color: #0085ad !important; */
}

.btn-primary {
	background-color: #003c71 !important;
	color: #fff;
	border-color: #003c71;
}

.btn-primary:hover {
	color: #fff;
	background-color: #003c71;
	border-color: #003c71;
}

.btn-primary:focus,
.btn-primary.focus {
	box-shadow: 0 0 0 0.2rem rgb(105, 179, 231);
}

.btn-primary.disabled,
.btn-primary:disabled {
	color: #fff;
	background-color: #69b3e7;
	border-color: #69b3e7;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
	color: #fff;
	background-color: #69b3e7;
	border-color: #69b3e7;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgb(105, 179, 231);
}

.bg-success {
	background-color: #0085AD !important;
}

.btn-success {
	background-color: #0085AD !important;
	color: #fff;
	border-color: #0085AD;
}

.btn-success:hover {
	color: #fff;
	background-color: #0085AD;
	border-color: #0085AD;
}

.btn-success:focus,
.btn-success.focus {
	box-shadow: 0 0 0 0.2rem rgb(89, 203, 232);
}

.btn-success.disabled,
.btn-success:disabled {
	color: #fff;
	background-color: #0085AD;
	border-color: #0085AD;
}

.btn-success:not(:disabled):not(.disabled):active,
.btn-success:not(:disabled):not(.disabled).active,
.show>.btn-success.dropdown-toggle {
	color: #fff;
	background-color: #0085AD;
	border-color: #0085AD;
}

.btn-success:not(:disabled):not(.disabled):active:focus,
.btn-success:not(:disabled):not(.disabled).active:focus,
.show>.btn-success.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgb(89, 203, 232);
}

.row {
	padding-top: 10px;
	padding-bottom: 10px;
}

[class*="col"] {
	padding-left: 5px;
	padding-right: 5px;
}

.text-minor {
	color: #ccc;
}